{% extends 'base.html' %}

{% block title %} services{% endblock %}

{% block css %}
.headings {
    line-height: 1.67;
    font-weight: 800;
    position: relative;
    padding-left: 34px;
    font-size: 24px;
}
.sub-heading {
    margin-top: 15px;
    font-size: 18px;
    margin-left: 34px;
    color: #696969;
}

.slide-image {
    background-image: url(/static/images/inner-baner.png);
    min-height: 250px;
    color: #fff;
}
.slide-image .pt-top {
    padding-top: 8rem!important;
}


{% endblock %}

{% block body %}
<div class="slide-image">
    <div class="container pt-top">
        <div class="text-center">
            <h5 class="font-weight-bold">About Us</h5>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div>
                    <img src="/static/images/about.app.png" alt="">
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                    <h5 class="headings">Planet Web IT Servies specializes in
                        <span style="color: #75511b">technological and IT-related services</span>
                        such as software development, blockchain development, android development, ios development, etc.
                    </h5>
                    <div class="sub-heading">Planet Web IT Services is an innovative web &amp; Mobile App Development
                        agency based in India. Our passion for helping small and medium size businesses has grown us
                        into a full-service strategic development and marketing company developing online solutions for
                        organizations across business sectors.
                    </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                        <h6>Mission</h6>
                    <h3 class="headings">Our Mission</h3>
                    <p>We provide customer-centric solutions that maximize productivity with minimal resources while
                        maintaining the principles of service delivery. Following our motto "Ideate, Innovate, Create",
                        we strive to bring result-oriented strategies to develop strategies for product design and
                        creation. Our group of experts has brought us the best skills to tackle our ultimate mission of
                        supporting our identity as a trusted technology leader.
                    </p>
            </div>
            <div class="col-lg-6">
                <div>
                    <img src="/static/images/about.mission.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6">
                <img src="/static/images/about.vission.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6">
                    <h6>Vission</h6>
                <h3 class="headings">Our Vission</h3>
                <p>We provide promising software solutions that adhere to the subtle and effective architecture of
                    service delivery. We made consistent choices to make it quick and easy to imagine our clients'
                    goals. Make sure you have a constructive plan for the use of available technical resources with
                    reasonable efficiency. Our team of experienced technology experts provides customized software
                    solutions for companies of all sizes and industries.
                </p>
            </div>
        </div>
    </div>
</section>
<hr>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3 class="headings">We achieved a set of milestones <br>in the last 2+ years</h3>
                </div>
            </div>
            <div class="col-lg-4 mt-4">
                    <h5 class="heading">Diversified Tech Stack</h5>
                        <div>Planet web IT services works on various technologies to meet up our customer’s needs or
                            requirements. Some of the technologies are React Native, Symfony, Laravel, AMP, GitLab,
                            Swift, Flutter, and many more.
                        </div>
            </div>
            <div class="col-lg-4 mt-4">
                        <h5 class="heading">500+ Happy Customers</h5>
                        <div>Planet web IT services has popularly gained the attention and the trust of the customers by
                            delivering them the best solutions for their needs. We are almost having 500 customer-bases
                            all across the globe.
                        </div>
            </div>
            <div class="col-lg-4 mt-4">
                        <h5 class="heading">Innovations &amp; Experiments</h5>
                        <div>Apart from the extension development, our team is always into doing some
                            innovations or experiments to ease out the customer and the store owner’s needs.
                        </div>
            </div>
            <div class="col-lg-4 mt-4">
                        <h5 class="heading">50+ Top Talent Team</h5>
                        <div>A good team can make a huge difference in delivering the best solutions and Webkul has that
                            privilege. We are having a quality team of 50+ members, who work to deliver the best
                            results.
                        </div>
            </div>
            <div class="col-lg-4 mt-4">
                        <h5 class="heading">Community Meetup &amp; Events</h5>
                        <div>We strongly believe in bringing all the community together. So, we organize talks,
                            conferences, and networking events. It helps to engage with the community by sharing both
                            the resources and business insights.
                        </div>
            </div>
            <div class="col-lg-4 mt-4">
                        <h5 class="heading">Open Source Contributions</h5>
                        <div>Planet web IT Services has also played its part in the open-source contribution through
                            Laravel eCommerce. It is an open-source eCommerce platform for all to build and scale your
                            business.
                        </div>
            </div>
        </div>
    </div>
</section>




<div class="text-center mt-4">
        <h3 class="heading ">We run all kinds of IT services that vow your <span style="color: #75511b;">
                            success</span>
        </h3>
</div>



{% endblock %}