{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block css %} {% endblock %}

{% block body %}
<div class="container marketing text-center mt-4">
      <h2>Our Gallery</h2>
      <hr >
    <br>
    <h2 class="text-danger">Images</h2>

    <!-- Three columns of text below the carousel -->
    <div class="row mt-4">
      <div class="col-lg-4">
          <img src="/static/images/img1.jpeg" alt="Event" class="img-fluid team">
        <p>if you have got an amazing idea for Android App development,we are the team looking for to execute that Android App development idea.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/img3.jpg" alt="Event" class="img-fluid team">
        <p>This program is intended for executives or teams of professionals employed in marketing, advertising, branding, communications .</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/pic4.jpg" alt="Event" class="img-fluid team">
        <p>You can’t just open a website and expect people to flood in. If you really want to succeed you have to create traffic.Designistic Pvt.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
      <div class="row mt-4">
      <div class="col-lg-4">
          <img src="/static/images/img5.jpg" alt="Event" class="img-fluid team">
        <p>if you have got an amazing idea for Android App development,we are the team looking for to execute that Android App development idea.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/img7.jpg" alt="Event" class="img-fluid team">
        <p>This program is intended for executives or teams of professionals employed in marketing, advertising, branding, communications .</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/img8.jpg" alt="Event" class="img-fluid team">
        <p>You can’t just open a website and expect people to flood in. If you really want to succeed you have to create traffic.Designistic Pvt.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
      <div class="row mt-4">
      <div class="col-lg-4">
          <img src="/static/images/img9.jpg" alt="Event" class="img-fluid team">
        <p>if you have got an amazing idea for Android App development,we are the team looking for to execute that Android App development idea.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/it6.jpg" alt="Event" class="img-fluid team">
        <p>This program is intended for executives or teams of professionals employed in marketing, advertising, branding, communications .</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/it5.jpg" alt="Event" class="img-fluid team">
        <p>You can’t just open a website and expect people to flood in. If you really want to succeed you have to create traffic.Designistic Pvt.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<hr>

    <div class="container marketing text-center mt-6">
      <h3 class="text-danger">Achievements</h3>

    <!-- Three columns of text below the carousel -->
      <div class="row mt-4">
      <div class="col-lg-4">
          <img src="/static/images/award5.jpg" alt="Event" class="img-fluid team">
        <p>if you have got an amazing idea for Android App development,we are the team looking for to execute that Android App development idea.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/award4.jpg" alt="Event" class="img-fluid team">
        <p>This program is intended for executives or teams of professionals employed in marketing, advertising, branding, communications .</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/award6.jpg" alt="Event" class="img-fluid team">
        <p>You can’t just open a website and expect people to flood in. If you really want to succeed you have to create traffic.Designistic Pvt.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
      <div class="row mt-4">
      <div class="col-lg-4">
          <img src="/static/images/award7.jpg" alt="Event" class="img-fluid team">
        <p>if you have got an amazing idea for Android App development,we are the team looking for to execute that Android App development idea.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/achieve4.jpg" alt="Event" class="img-fluid team">
        <p>This program is intended for executives or teams of professionals employed in marketing, advertising, branding, communications .</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/award9.jpeg" alt="Event" class="img-fluid team">
        <p>You can’t just open a website and expect people to flood in. If you really want to succeed you have to create traffic.Designistic Pvt.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
        <div class="row mt-4">
      <div class="col-lg-4">
          <img src="/static/images/award1.jpg" alt="Event" class="img-fluid team">
        <p>if you have got an amazing idea for Android App development,we are the team looking for to execute that Android App development idea.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/award2.jpg" alt="Event" class="img-fluid team">
        <p>This program is intended for executives or teams of professionals employed in marketing, advertising, branding, communications .</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="/static/images/award3.jpg" alt="Event" class="img-fluid team">
        <p>You can’t just open a website and expect people to flood in. If you really want to succeed you have to create traffic.Designistic Pvt.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div>



{% endblock %}